<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- define beans -->	
	<!-- id tuy y -->
	<!-- name phai la thuoc tinh trong class va co ham setter -->
	<!-- value tuy y -->
	<bean id="carBluePrint" class="example.BluePrint">
		<property name="type" value="This is a car"/>
	</bean>
		
	<bean id="bikeBluePrint" class="example.BluePrint">
		<property name="type" value="This is a bike"/>
	</bean>
	
	<bean id="BlahBlah" class="example.BluePrint">
		<property name="type" value="Blah blah blah ..."/>
	</bean>
</beans>
